@import "reset.css";

.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#clock {
  width: 100%;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
  text-shadow: 1px 1px 2px black;
}
#login-form {
  width: 100%;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-form input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding-bottom: 10px;
  border-bottom: 2px solid whitesmoke;
}
#login-form input[type="text"]::placeholder {
  color: whitesmoke;
  text-align: center;
}
#login-form input[type="submit"] {
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  margin-left: 20px;
  transition: transform 0.2s ease-in-out;
}
#login-form input[type="submit"]:hover {
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
#login-form input[type="text"]:hover,
#login-form input[type="text"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
#greeting {
  width: 100%;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
.container.login {
  width: 40%;
  margin: 0% 5% 0% 5%;
  border-radius: 1rem;
}
.container.login #clock {
  font-size: 1.5rem;
}
.container.login #greeting {
  margin: 10px 50px;
  font-size: 1rem;
}
#container2 {
  width: 40%;
  margin: 0% 5% 0% 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#weather {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
}
#quote {
  width: 100%;
  margin: 10px 5%;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  font-size: 1rem;
}
#quote span:last-child {
  margin-top: 10px;
  text-align: right;
  color: black;
  font-weight: bold;
}
#quote span:last-child::before {
  content: "> ";
}
#todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-form input[type="text"] {
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid whitesmoke;
  margin: auto;
}
#todo-form input[type="text"]::placeholder {
  color: whitesmoke;
  text-align: center;
}
#todo-form input[type="text"]:hover,
#todo-form input[type="text"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

ul {
  width: 100%;
  margin: 20px 0px;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
ul::before {
  content: "📑 오늘 할 일들";
  font-size: 1.2rem;
}
ul li {
  margin-top: 10px;
  width: 100%;
}
ul li:first-child {
  margin-top: 50px;
}
ul li span {
  margin-right: 30px;
}
ul li span::before {
  content: "🔸 ";
}
ul li button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
#container3 {
  width: 80%;
  align-self: flex-start;
  margin: 0px auto;
}
@media screen and (max-width: 450px) {
  .container {
    width: 95%;
  }
  #greeting {
    width: 100%;
    margin: 0px;
  }
  .container.login {
    width: 95%;
    margin-top: 20px;
  }
  .container.login #greeting {
    margin: 10px 10px;
    font-size: 1rem;
  }
  #container2 {
    width: 95%;
    align-self: flex-start;
    /* height: auto; */
    margin-top: 20px;
  }
  #container3 {
    width: 95%;
    margin: 20px 5% 0% 5%;
  }
}
