body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left,
    var(--main-bg-color1),
    var(--main-bg-color2)
  );
}
.container {
  width: 80%;
  height: 80%;
  background-color: #555560;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
